/* You can add global styles to this file, and also import other style files */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  background: linear-gradient(180deg, #002b5c, #004a99);
  color: white;
}

/* Contenido principal */
main {
  margin-left: 230px; /* igual que width del sidebar */
  padding: 20px;
  background: #f5f7fa;
  min-height: 100vh;
}